<article class="about">
   <div class="about__bg"></div>
   <div class="about__container _container">
      <div class="about__content">
         <div class="about__title">О НАС</div>
         <div class="about__list">
            <div class="about__item">Качественное проведение работ</div>
            <div class="about__item">Обсуждение работы на каждом этапе</div>
            <div class="about__item">Профессиональный инструмент</div>
            <div class="about__item">Начинаем работу без аванса</div>
            <div class="about__item">Доступные цены</div>
         </div>
      </div>
      <div class="about__bubble">
         <div class="about__bubbleLine">
            <div class="about__bubbleItem">
               <div class="about__textOne">более</div>
               <div class="about__textTwo">15</div>
               <div class="about__textThree">лет успешной работы</div>
            </div>
            <div class="about__bubbleItem">
               <div class="about__textOne">более</div>
               <div class="about__textTwo">1000</div>
               <div class="about__textThree">м2 готовых объектов</div>
            </div>
            <div class="about__bubbleItem">
               <div class="about__textOne">более</div>
               <div class="about__textTwo">500</div>
               <div class="about__textThree">довольных клиентов</div>
            </div>
         </div>
      </div>
   </div>
</article>