<article class="contact">
   <div class="contact__title">СВЯЖИТЕСЬ С НАМИ ИЛИ ОСТАВЬТЕ ЗАЯВКУ</div>
   <div class="contact__main">
      <div class="contact__bg"></div>
      <div class="contact__bgHumans">
         <picture>
            <source type="image/avif" srcset="./images/humans2.avif" />
            <source type="image/webp" srcset="./images/humans2.webp" />
            <img src="./images/humans2.png">
         </picture>
      </div>
      <div class="contact__container _container">
         <div class="form__content contact__content">
            <div class="form__title">ЗАПОЛНИТЕ ФОРМУ</div>
            <div class="form__inputs">
               <div class="form__input">
                  <input type="text" placeholder="Ваше имя" type="text">
                  <span></span>
               </div>
               <div class="form__input">
                  <input type="text" placeholder="Номер телефона" type="text">
                  <span></span>
               </div>
               <textarea placeholder="Опишите Вашу  заявку" class="form__inputTextarea"></textarea>
               <button class="form__btn">Получить консультацию</button>
               <div class="form__checkbox">
                  <input type="checkbox" class="form__checkbox">
                  <div class="form__checkboxText">Принимаю условия Политики конфединциальности</div>
               </div>
            </div>
         </div>
      </div>
</article>