<footer class="footer">
   <div class="footer__container _container">
      <div class="footer__content">
         <div class="footer__links">
            <div class="footer__link">
               <div class="footer__linkIcon">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#tel" class="svg-tel-dims" alt="tel">
                  </div>
               </div>
               <a href="">+ 375-29-123-45-67</a>
            </div>
            <div class="footer__link">
               <div class="footer__linkIcon">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#file" class="svg-file-dims" alt="file">
                  </div>
               </div>
               <a href="">stroyka@gmail.com</a>
            </div>
         </div>
         <div class="footer__contacts">
            <div class="footer__contactItem">
               <p>ИП</p>
               <p>Костин А.Н.</p>
            </div>
            <div class="footer__contactItem">
               <p>УНП</p>
               <p>11111111111</p>
            </div>
            <a href="" class="footer__adress">Юридический адрес</a>
         </div>
      </div>
      <div class="footer__copyright"> © Safehouse 2021</div>
   </div>
</footer>
<script src="../js/main.js"></script>