<header class="header">
   <div class="header__container _container">
      <div class="header__logo">
         <picture>
            <source type="image/avif" srcset="./images/logo.avif" />
            <source type="image/webp" srcset="./images/logo.webp" />
            <img src="./images/logo.png">
         </picture>
      </div>
      <div class="header__nav">
         <a href="" class="header__link">Портфолио</a>
         <a href="" class="header__link">Услуги</a>
         <a href="" class="header__link">Цены</a>
         <a href="" class="header__link">Контакты</a>
      </div>
      <div class="header__order">
         <a href="" class="header__tel">+375 (25) 123-45-67</a>
         <button class="header__btn">Заказать звонок</button>
      </div>
   </div>
</header>