<article class="how">
   <div class="how__bg">
   </div>
   <div class="how__container _container">
      <div class="how__title">КАК МЫ РАБОТАЕМ</div>
      <div class="how__content">
         <div class="how__item">
            <div class="how__num">01</div>
            <div class="how__about">Бесплатный выезд мастера на объект для оценки работы </div>
         </div>
         <div class="how__item">
            <div class="how__num">03</div>
            <div class="how__about">Оформление и подписание договора</div>
         </div>
         <div class="how__item">
            <div class="how__num">02</div>
            <div class="how__about">Обсуждение работы с заказчиком </div>
         </div>
         <div class="how__item">
            <div class="how__num">04</div>
            <div class="how__about">Выполнение работ в соответствии с пожеланиями заказчика</div>
         </div>
         <div class="how__item">
            <div class="how__num">05</div>
            <div class="how__about">Прием работы заказчиком и окончательный расчет</div>
         </div>
      </div>
   </div>
</article>