<article class="main">
   <div class="main__container _container">
      <div class="main__content">
         <div class="main__title">Строительство <br>
            и ремонт в Гомеле</div>
         <div class="main__subtitle">Надежное будущее строим
            вместе </div>
         <div class="main__button">Получить консультацию </div>
      </div>
      <div class="main__slider">
         <div class="main__sliderLine">
            <div class="main__sliderItem">
               <picture>
                  <source type="image/avif" srcset="./images/slider1.avif" />
                  <source type="image/webp" srcset="./images/slider1.webp" />
                  <img src="./images/slider1.png">
               </picture>
            </div>
            <div class="main__sliderItem">
               <picture>
                  <source type="image/avif" srcset="./images/slider2.avif" />
                  <source type="image/webp" srcset="./images/slider2.webp" />
                  <img src="./images/slider2.png">
               </picture>
            </div>
            <div class="main__sliderItem">
               <picture>
                  <source type="image/avif" srcset="./images/slider3.avif" />
                  <source type="image/webp" srcset="./images/slider3.webp" />
                  <img src="./images/slider3.png">
               </picture>
            </div>
            <div class="main__sliderItem">
               <picture>
                  <source type="image/avif" srcset="./images/slider4.avif" />
                  <source type="image/webp" srcset="./images/slider4.webp" />
                  <img src="./images/slider4.png">
               </picture>
            </div>
            <div class="main__sliderItem">
               <picture>
                  <source type="image/avif" srcset="./images/slider5.avif" />
                  <source type="image/webp" srcset="./images/slider5.webp" />
                  <img src="./images/slider5.png">
               </picture>
            </div>
         </div>
         <div class="main__sliderButtons">
            <button class="main__sliderPrev">
               <div class="icon-box">
                  <img src="./images/sprite.svg#Vector_5" class="svg-Vector_5-dims" alt="Vector_5">
               </div>
            </button>
            <button class="main__sliderNext">
               <div class="icon-box">
                  <img src="./images/sprite.svg#Vector_5" class="svg-Vector_5-dims" alt="Vector_5">
               </div>
            </button>
         </div>
         <div class="main__sliderDots">
         </div>
      </div>
      <div class="main__bg">
         <span></span>
      </div>
   </div>
</article>