<article class="price">
   <div class="price__container _container">
      <div class="price__title">ПРАЙС-ЛИСТ НА УСЛУГИ</div>
      <div class="price__content">
         <div class="price__nav">
            <button class="price__category" data-id="1">Отделка</button>
            <button class="price__category" data-id="2">Строительство</button>
            <button class="price__category" data-id="3">Кровля</button>
            <button class="price__category" data-id="4">Сантехника</button>
            <button class="price__category" data-id="5">Электрика</button>
         </div>
         <div class="price__grid">
            <div class="price__itemMain">
               <div class="price__itemTitle">Наименование работ</div>
               <div class="price__itemNum">Ед.измерения</div>
               <div class="price__itemPrice">Цена от, руб</div>
            </div>
            <div class="price__item" data-id="2">
               <div class="price__itemTitle">Штукатурка по маякам</div>
               <div class="price__itemNum">м <span>2</span></div>
               <div class="price__itemPrice">10</div>
            </div>
            <div class="price__item" data-id="3">
               <div class="price__itemTitle">Штукатурка по маякам</div>
               <div class="price__itemNum">м <span>2</span></div>
               <div class="price__itemPrice">10</div>
            </div>
            <div class="price__item" data-id="1">
               <div class="price__itemTitle">Штукатурка по маякам</div>
               <div class="price__itemNum">м <span>2</span></div>
               <div class="price__itemPrice">10</div>
            </div>
            <div class="price__item" data-id="4">
               <div class="price__itemTitle">Штукатурка по маякам</div>
               <div class="price__itemNum">м <span>2</span></div>
               <div class="price__itemPrice">10</div>
            </div>
            <div class="price__item" data-id="1">
               <div class="price__itemTitle">Штукатурка по маякам</div>
               <div class="price__itemNum">м <span>2</span></div>
               <div class="price__itemPrice">10</div>
            </div>
            <div class="price__item" data-id="5">
               <div class="price__itemTitle">Штукатурка по маякам</div>
               <div class="price__itemNum">м <span>2</span></div>
               <div class="price__itemPrice">10</div>
            </div>

         </div>
         <button class="price__button">Скачать весь прайс</button>
      </div>
   </div>
</article>