<article class="services">
   <div class="services__container _container">
      <div class="services__title">НАШИ УСЛУГИ<span></span></div>
      <div class="services__content">
         <div class="services__list">
            <div class="services__item" data-id="finishing">
               <div class="services__itemIcon">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#brush" class="svg-brush-dims" alt="brush">
                  </div>
               </div>
               <div class="services__itemTitle">Отделочные
                  работы</div>
               <div class="services__itemBg" style="--bg:url(./images/servItem1.avif)"></div>
            </div>
            <div class="services__item" data-id="building">
               <div class="services__itemIcon">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#house" class="svg-house-dims" alt="house">
                  </div>
               </div>
               <div class="services__itemTitle">Строительство
                  домов</div>
               <div class="services__itemBg" style="--bg:url(./images/servItem2.avif)"></div>
            </div>
            <div class="services__item" data-id="electric">
               <div class="services__itemIcon">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#bulb" class="svg-bulb-dims" alt="bulb">
                  </div>
               </div>
               <div class="services__itemTitle">Электрика</div>
               <div class="services__itemBg" style="--bg:url(./images/servItem3.avif)"></div>
            </div>
            <div class="services__item selected" data-id="plumbing">
               <div class="services__itemIcon">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#pipe" class="svg-pipe-dims" alt="pipe">
                  </div>
               </div>
               <div class="services__itemTitle">Сантехника</div>
               <div class="services__itemBg" style="--bg:url(./images/servItem2.avif)"></div>
            </div>
         </div>
         <div class="services__about">
            <div class="services__aboutItem" data-id="plumbing">
               <div class="services__aboutTitle">Сантехника</div>
               <div class="services__aboutList">
                  <li>Перенос и установка счетчиков</li>
                  <li>Монтаж и ремонт водопровода</li>
                  <li>Монтаж отопления</li>
                  <li>Монтаж канализации</li>
                  <li>Замена и перенос полотенцесушителя</li>
                  <li>Установка кранов на полотенцесушитель</li>
                  <li>Установка инсталляций</li>
                  <li>Установка всех видов сантех оборудования</li>
                  <li>Замена батарей отопления</li>
                  <li>Замена и демонтаж радиатора отопления</li>
                  <li>Замена труб в ванной и туалете</li>
                  <li>Замена труб в ванной</li>
                  <li>Замена труб на пластиковые</li>
                  <li>Монтаж трубопроводов ПВХ</li>
                  <li>Замена и демонтаж радиатора отопления</li>
               </div>
            </div>
            <div class="services__aboutItem disabled" data-id="finishing">
               <div class="services__aboutTitle">Отделочные работы</div>
               <div class="services__aboutList">
                  <li>Электромонтажные и сантехнические работы</li>
                  <li>Демонтажные работы</li>
                  <li>Штукатурные работы</li>
                  <li>Малярные работы</li>
                  <li>Монтаж ГКЛ</li>
                  <li>Облицовка стен и потолков</li>
                  <li>Укладка плитки</li>
                  <li>Укладка всех видов наполных покрытий</li>
               </div>
            </div>
            <div class="services__aboutItem disabled" data-id="building">
               <div class="services__aboutTitle">Строительство домов</div>
               <div class="services__aboutList">
                  <li>Профессиональная укладка блоков ПГС</li>
                  <li>Укладка кирпича</li>
                  <li>Укладка пазогребневых плит</li>
                  <li>Монтаж плит</li>
                  <li>Монтаж перекрытий</li>
                  <li>монтаж балок и пермычек</li>
                  <li>Изготовление монолитного пола</li>
                  <li>Установка перегородок</li>
                  <li>Установка вентиляционных каналов</li>
                  <li>Кровельные работы любой сложности</li>
               </div>
            </div>
            <div class="services__aboutItem disabled" data-id="electric">
               <div class="services__aboutTitle">Электрика</div>
               <div class="services__aboutList">
                  <li>Замена розеток и выключателей</li>
                  <li>Перенос розеток и выключателей</li>
                  <li>Замена электропроводки</li>
                  <li>Сборка электросчетчиков</li>
                  <li>Установка электросчетчиков</li>
               </div>
            </div>
         </div>
      </div>
      <div class="services__subtitle">
         Для многих ремонт — это что-то вроде стихийного бедствия, но чем тщательнее вы его спланируете, тем проще
         будет его пережить. А уютная, привлекательная и чистая квартира – это мечта любого человека.
      </div>
      <div class="services__text">
         Давайте воплотим Ваши мечты в реальность!
      </div>
   </div>
</article>